.close-icon-container .close-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  stroke: #fff;
}

.close-icon-container .close-icon .circle {
  opacity: 0.1;
}

.close-icon-container .close-icon .progress {
  opacity: 0;
  stroke-dasharray: 0, 120;
  -webkit-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.02);
  transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.02);
}